streamlit
langchain
langchain-community
langchain-text-splitters
chromadb==0.4.24
sentence-transformers
pymupdf
pytesseract
pillow
numpy==1.26.4
protobuf==3.20.3
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
